@using System.Globalization;
@model Dealership.Models.PurchaseInfo
@{
    ViewBag.Title = "Purchase";
}

<h2>Purchase</h2>

<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-4" id="vehicleTitle">
                
            </div>
        </div>
        <div class="row inventory-item">
            <div class="col-sm-3">
                <img id="vehiclePicture" />
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-4" id="bodyStyle">

                    </div>
                    <div class="col-sm-4" id="interior">

                    </div>
                    <div class="col-sm-4" id="salePrice">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" id="transmissionType">

                    </div>
                    <div class="col-sm-4" id="mileage">

                    </div>
                    <div class="col-sm-4" id="msrp">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" id="color">

                    </div>
                    <div class="col-sm-4" id="vin">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" id="description">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Purchase", "Sales", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

<div class="form-horizontal">
    <h2>Sales Information</h2>

    <div class="form-group row">
        <div class="col-md-6">
            <label>Name</label>
        </div>

        <div class="col-md-6">
            <label>Phone</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            @Html.EditorFor(model => model.Name)
        </div>

        <div class="col-md-6">
            @Html.EditorFor(model => model.Phone)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label>Email</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            @Html.EditorFor(model => model.Email)
        </div>
    </div>

    <div class="form-gropu row">
        <div class="col-md-6">
            <label>Street 1</label>
        </div>

        <div class="col-md-6">
            <label>Street 2</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            @Html.EditorFor(model => model.Street1)
        </div>

        <div class="col-md-6">
            @Html.EditorFor(model => model.Street2)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label>City</label>
        </div>

        <div class="col-md-6">
            <label>State</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            @Html.EditorFor(model => model.City)
        </div>

        <div class="col-md-6">
            <select id="states" name="StateID">
                
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label>Zipcode</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            @Html.EditorFor(model => model.Zip)
        </div>
    </div>

    <hr />

    <div class="form-group row">
        <div class="col-md-6">
            <label>Purchase Price</label>
        </div>

        <div class="col-md-6">
            <label>Purchase Type</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input type="number" value="@Model.PurchasePrice" id="purchasePrice" name="PurchasePrice" />
        </div>

        <div class="col-md-6">
            <select id="purchaseTypes" name="PurchaseTypeID">

            </select>
        </div>
    </div>

    <input type="hidden" value="@Model.VehicleID" id="vehicleID" name="VehicleID" />
    <input type="hidden" value="@Model.SalePrice" id="sale-price" name="SalePrice" />

    <div class="form-group row">
        <div class="col-md-6">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</div>
}

@section Scripts
{
    <script src="~/Scripts/purchase.js"></script>
}


