@model Dealership.Models.EditVehicleViewModel

@{
    ViewBag.Title = "Edit Vehicle";
    SelectList bodyStyles = new SelectList(Model.BodyStyles, "BodyStyleID", "DisplayName");
    SelectList colors = new SelectList(Model.Colors, "ColorID", "DisplayName");
    SelectList interiors = new SelectList(Model.Interiors, "InteriorID", "DisplayName");
    SelectList makes = new SelectList(Model.Makes, "MakeID", "DisplayName");
    SelectList models = new SelectList(Model.Models, "ModelID", "DisplayName");
    SelectList transmissionsTypes = new SelectList(Model.TransmissionTypes, "TransmissionTypeID", "DisplayName");

    var base64 = Convert.ToBase64String(Model.PictureBytes);
    var imgSrc = String.Format("data:image/*;base64,{0}", base64);
}

@using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post,
    new { enctype = "multipart/formdata" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-horizontal">
        <h4>Edit Vehicle</h4>
        <hr />

        <div class="form-group row">
            <div class="col-md-6">
                <label>Make</label>
            </div>

            <div class="col-md-6">
                <label>Model</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.MakeID, makes, htmlAttributes: new { @class = "dropdown" })
            </div>

            <div class="col-md-6">
                @Html.DropDownListFor(model => model.ModelID, models, htmlAttributes: new { @class = "dropdown" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label>New</label>
            </div>

            <div class="col-md-6">
                <label>Body Style</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                @Html.CheckBoxFor(model => model.IsNew)
            </div>

            <div class="col-md-6">
                @Html.DropDownListFor(model => model.BodyStyleID, bodyStyles, htmlAttributes: new { @class = "dropdown" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label>Year</label>
            </div>

            <div class="col-md-6">
                <label>Transmission</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @type="number" } })
            </div>

            <div class="col-md-6">
                @Html.DropDownListFor(model => model.TransmissionTypeID, transmissionsTypes, htmlAttributes: new { @class = "dropdown" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label>Color</label>
            </div>

            <div class="col-md-6">
                <label>Interior Color</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.ColorID, colors, htmlAttributes: new { @class = "dropdown" })
            </div>

            <div class="col-md-6">
                @Html.DropDownListFor(model => model.InteriorID, interiors, htmlAttributes: new { @class = "dropdown" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label>Mileage</label>
            </div>

            <div class="col-md-6">
                <label>VIN</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                @Html.EditorFor(model => model.Mileage, new { htmlAttributes = new { @class = "form-control", @type="number" } })
            </div>

            <div class="col-md-6">
                @Html.EditorFor(model => model.VIN, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label>Sale Price</label>
            </div>

            <div class="col-md-6">
                <label>MSRP</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control", @type="number" } })
            </div>

            <div class="col-md-6">
                @Html.EditorFor(model => model.MSRP, new { htmlAttributes = new { @class = "form-control", @type="number"} })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label>Description</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control descriptionBox" } })
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <img src="@imgSrc" />
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <label>Replace picture:</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md">
                @Html.TextBoxFor(model => model.Picture,
new { type = "file", @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <label>Feature this vehicle</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                @Html.CheckBoxFor(model => model.IsFeatured)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md">
                @Html.ActionLink("Delete", "DeleteVehicle", new { id = Model.ID}, new { @class = "btn btn-danger" }) |
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <input class="hidden" id="vehicle-id" name="ID" value="@Model.ID" />
    <input class="hidden" name="PictureBytes" value="@base64" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="~/Scripts/addEditVehicle.js"></script>   
}